/* hero */
.main-block-materials {
  padding: 22px 40px 106px 40px;
  background-image: url(../img/materials_banner.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.materials-hero-wrap {
  margin-bottom: 64px;
  max-width: 555px;
}

.materials-hero-title {
  font-size: 48px;
  line-height: 53.09px;
}

.materials-hero-title:nth-child(2) {
  margin-bottom: 20px;
}

.materials-hero-subtitle {
  font-family: Wadik;
  font-size: 24px;
  line-height: 26.54px;
  color: #fff;
  text-transform: capitalize;
}

.materials-hero-about {
  position: relative;
}

.materials-hero-text {
  max-width: 499px;
  position: absolute;
  top: 61px;
  left: 28px;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

/* Рубрики */
.caption-name {
  font-family: Inter-Medium;
  font-size: 20px;
  line-height: 24.2px;
  color: #fff;
}

.caption-top {
  padding: 8px 16px 8px 50px;
  margin-bottom: 20px;
  width: fit-content;
  border: 1px solid #ffaa00;
  border-radius: 6px;
  background: rgba(255, 170, 0, 0.2);
  background-image: url(../img/caption-materials.svg);
  background-repeat: no-repeat;
  background-position: left 16px center;
  cursor: pointer;
}

.caption-text {
  margin-left: 12px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.caption-label:not(:last-child) {
  margin-bottom: 24px;
}

.caption-bottom {
  padding: 22px;
  position: absolute;
  width: fit-content;
  border: 2px solid #ffaa00;
  border-radius: 6px;
  background-color: #0e0214;
}

.caption-bottom-open {
  opacity: 1;
  z-index: 1;
}

.caption-position {
  position: relative;
}

/* materials */
.materials {
  padding-top: 60px;
  background-image: url(../img/materials-background-1.png),
    url(../img/materials-background-2.webp);
  background-repeat: no-repeat;
  background-position: right top -60px, right bottom -250px;
}

.materials-footer-background {
  background-image: url(../img/materials-background-3.png);
  background-repeat: no-repeat;
  background-position: left bottom 50px;
}

.materials-info {
  gap: 15px;
}

.materials_name {
  padding-right: 10px;
  padding-top: 25px;
  position: sticky;
  height: 884px;
  width: 33.3%;
  background: linear-gradient(
    90deg,
    rgba(255, 170, 0, 0.1) 0%,
    rgba(170, 0, 255, 0.1) 100%
  );
}

.materials_name::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 6px;
  padding: 4px;
  background: linear-gradient(90deg, #ffaa00 0%, #aa00ff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.cards-wrap {
  height: 844px;
  padding-left: 20px;
  padding-right: 6px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: none;
}

/* полоса прокрутки*/
.cards-wrap::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

.cards-wrap::-webkit-scrollbar-thumb {
  margin-right: 8px;
  background-color: #aa00ff;
}

/* для Fireforks */
html,
body {
  scrollbar-width: thin;
}

.materials_cards {
  border-radius: 18px;
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.materials_cards:not(:last-child) {
  margin-bottom: 20px;
}

/* Стили для вкладок */
.materials_name .materials_cards {
  position: relative;
  cursor: pointer;
}

.materials_name .materials_cards--active {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.materials_content {
  display: none;
}

.materials_content--active {
  display: block;
}
/* Конец стилей для вкладок */

.materials-cards-name {
  font-family: Wadik;
  font-size: 20px;
  color: #fff;
  line-height: 22.12px;
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-transform: capitalize;
}

.materials-cards-about {
  font-size: 14px;
  font-style: normal;
  color: #fff;
  line-height: 18px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.materials-cards-img {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  margin-right: 8px;
}

.materials_information {
  position: relative;
  width: 66.7%;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    rgba(255, 170, 0, 0.1) 0%,
    rgba(170, 0, 255, 0.1) 100%
  );
  padding: 80px 80px 40px 80px;
  clip-path: polygon(0 0, 808.2px 0, 100% 90px, 100% 100%, 0 100%);
}

.materials_information::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 6px;
  padding: 4px;
  background: linear-gradient(90deg, #ffaa00 0%, #aa00ff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -2;
}

/* .materials_information {
  width: 66.7%;
  border-radius: 6px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(255, 170, 0, 0.1) 0%,
    rgba(170, 0, 255, 0.1) 100%
  );
  padding: 80px 80px 128px 80px;
  border: 0;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  clip-path: polygon(0 0, 808.2px 0, 100% 90px, 100% 100%, 0 100%);
}

.materials_information::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #ffaa00 0%, #aa00ff 100%);
  z-index: -2;
}

.materials_information::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 170, 0, 0.1) 0%,
    rgba(170, 0, 255, 0.1) 100%
  );
  z-index: -1;
  clip-path: polygon(4px 0, 804.2px 0, 100% 90px, 100% 100%, 0 100%);
} */

.materials_img_close {
  display: none;
}

.materials-information-about {
  margin-bottom: 40px;
}

.materials-information-img {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.materials-information-img_link {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.materials-information-photo_caption {
  width: fit-content;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.materials-information-photo_caption:hover {
  color: #f3daff;
}

.materials-information-photo_caption:active {
  color: #e6b1ff;
}

.materials-information-title {
  font-family: Wadik;
  font-size: 36px;
  line-height: 39.82px;
  color: #ffaa00;
  text-transform: capitalize;
}

.materials_foto {
  max-width: 440px;
  max-height: 330px;
  border-radius: 6px;
}

.materials-text-weight {
  margin-bottom: 20px !important;
  font-weight: 700;
}

.materials-information-text {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.materials-information-text:not(:last-child) {
  margin-bottom: 40px;
}

.materials-information-link {
  margin-right: 44px;
  font-family: Inter-Medium;
  font-size: 20px;
  line-height: 24.2px;
  color: #fff;
  cursor: pointer;
}

.materials-information-link:hover {
  color: #f3daff;
}

.materials-information-link:active {
  color: #e6b1ff;
}

.materials-information-link.disabled {
  pointer-events: none;
  color: #0c0c0c;
}

.materials-information-end {
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.details-top {
  padding: 20px;
  width: 311px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #aa00ff;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 79%, 94% 100%, 0 100%);
}

.details-title {
  font-family: Inter-Medium;
  font-size: 20px;
  line-height: 24.2px;
  color: #fff;
}

.arrow_down-white {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/arrow-down-white.svg);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 14px;
  transition: all 0.4s ease-out;
}

.arrow_down-white.open {
  transform: rotate(180deg);
  transition: all 0.4s ease-out;
}

.details-bottom {
  justify-content: end;
}

.details-bottom.open {
  opacity: 1;
  /* display: flex; */
}

.details-link {
  font-size: 20px;
  line-height: 24px;
  color: #0c0c0c;
}

.details-item {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.details-item:hover {
  background-color: #aa00ff;
}

.details-item:hover .details-link {
  color: #fff;
}

.details-list {
  width: 311px;
  padding: 20px;
  border: 2px solid #aa00ff;
  border-radius: 6px;
  background-color: #fff;
}

.details-link.disabled {
  pointer-events: none;
  opacity: 50%;
}

.details-item:has(.details-link.disabled) {
  pointer-events: none;
}

/* Адаптив */
@media (max-width: 1440px) {
  .materials_information {
    padding: 60px 80px 80px 80px;
  }

  .materials_cards:not(:last-child) {
    margin-bottom: 5px;
  }

  .cards-wrap {
    height: 476px;
    padding: 0 8px 0 8px;
    bottom: 12px;
    top: 12px;
  }

  .materials_name {
    height: 500px;
  }
}

@media (max-width: 1200px) {
  .materials_information {
    padding: 40px 20px;
    width: 67.4%;
  }

  .materials_name {
    width: 32.6%;
  }
}

@media (max-width: 1024px) {
  .materials-name {
    top: 38px;
    left: 112px;
  }

  .materials-information-title {
    font-size: 20px;
  }

  .materials-information-text {
    font-size: 16px;
  }

  .materials-information-text:not(:last-child) {
    margin-bottom: 20px;
  }

  .materials-information-link {
    font-size: 18px;
  }

  .materials-information-about {
    margin-bottom: 52px;
  }

  .materials {
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
  }
}

@media (max-width: 992px) {
  .materials_information {
    width: 58%;
  }

  .materials_name {
    width: 42%;
  }
}

@media (max-width: 768px) {
  .materials-name {
    top: 0;
  }

  .materials {
    margin-bottom: 60px;
    gap: 0;
  }

  .materials_information {
    padding: 20px;
    padding-bottom: 77px;
    width: 100%;
    border-radius: 0;
  }

  .materials_name {
    width: 100%;
  }

  .materials_img_close {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .materials-information-about {
    margin-bottom: 40px;
  }

  .materials-information-title {
    font-size: 40px;
  }

  .materials-information-about {
    margin-bottom: 20px;
  }

  .materials-information-text {
    font-size: 14px;
  }

  .materials-information-photo_caption {
    font-size: 12px;
  }

  .materials-information-link {
    font-size: 16px;
  }

  .materials-information-img_link {
    margin-bottom: 27px;
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding: 0 20px 0 20px;
  }

  .materials-name {
    left: 34px;
  }

  .materials_cards:not(:last-child) {
    margin-bottom: 20px;
  }

  .materials_name {
    height: 572px;
  }

  .cards-wrap {
    height: 532px;
    padding: 0 11px 0 12px;
    bottom: 20px;
    top: 20px;
  }

  .cards-wrap::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
  }

  .materials-information-img {
    margin-bottom: 8px;
  }
}

@media (max-width: 375px) {
  .materials-name {
    left: 10px;
  }
}
