@media (max-width: 1500px) {
  .hero-content {
    margin-right: 0;
  }
}

@media (max-width: 1440px) {
  .hero-img {
    display: flex;
    align-items: flex-end;
  }

  .hero-img_robot {
    width: 500px;
  }

  .broadcast-video_wrap {
    width: fit-content;
    clip-path: url(#clip-path_broadcast-tablet);
    text-align: left;
  }

  .broadcast-video {
    width: 1020px;
    height: 569.69px;
  }

  .broadcast-video_frame {
    width: auto;
  }

  .partners-footer-background {
    background-position: left top 160px;
    background-size: auto;
  }
}

@media (max-width: 1400px) {
  .about {
    display: flex;
  }

  .about-item {
    width: calc((100% - 20px) / 2);
  }

  .about-list {
    max-width: 1000px;
    flex-wrap: wrap;
  }

  .about-item img {
    width: 100%;
    height: 134px;
  }

  .about-text {
    top: 30%;
    left: 83px;
  }

  .swiper-review {
    padding: 70px 30px;
  }
}

@media (max-width: 1366px) {
  .reviews-img {
    width: 90%;
  }

  .preview-left_bottom {
    flex-direction: column;
  }

  .preview-text {
    margin-bottom: 61px;
  }

  .preview-right_bottom {
    display: grid;
  }

  .preview-text_right {
    margin-bottom: 32px;
  }

  .preview-title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .preview-left {
    margin-right: 0;
    width: 55%;
  }

  .preview-right {
    width: 45%;
    align-content: baseline;
  }

  .preview .container {
    justify-content: center;
  }

  .preview-title-small {
    margin-bottom: 20px;
  }

  .preview-left_part2 img {
    width: 360px;
  }

  .preview-right img:nth-child(1) {
    margin-bottom: 92px;
  }
}

@media (max-width: 1300px) {
  .nav,
  .header__btn {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  .header {
    align-items: center;
  }

  .header .container {
    padding: 0;
  }

  .main-block .container {
    padding: 0;
  }

  .hero-img_title {
    width: 60px;
  }

  .hero-img {
    right: 50px;
  }

  .hero.container {
    justify-content: space-between;
  }

  .reviews .container {
    padding: 0;
  }

  .reviews-title {
    padding-left: 40px;
  }

  .reviews-img {
    width: 100%;
  }

  .preview-left_part1,
  .preview-left_part2,
  .preview-right {
    max-width: 550px;
  }
}

@media (max-width: 1200px) {
  .hero-img_robot,
  .hero-img_title,
  .hero-content {
    animation: none;
  }
}

@media (max-width: 1180px) {
  .hero-img {
    right: 30px;
    bottom: 50px;
  }

  .hero-img_title {
    width: 55px;
    right: -35px;
  }

  .section-subtitle {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .hero-title {
    font-size: 65px;
    line-height: 65px;
  }

  .card-3,
  .card-2 {
    transform: rotate(0);
    filter: brightness(1);
  }

  .card-1 {
    position: relative;
    top: 0;
    z-index: 0;
  }

  .card-3:hover ~ .card-1 {
    z-index: 0;
    filter: brightness(1);
    transition: none;
  }

  .card-2:hover ~ .card-1 {
    filter: brightness(1);
    transition: none;
  }

  .program-cards {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .program-title {
    margin-bottom: 40px;
  }

  .program {
    margin-bottom: 80px;
  }

  .footer_contacts_text {
    font-size: 16px;
  }

  .footer-links {
    font-size: 14px;
  }

  .footer-title {
    margin-bottom: 22px;
    font-size: 18px !important;
    line-height: 19.91px !important;
  }

  .footer .container {
    padding: 0;
  }

  .footer__btn {
    padding: 11.5px 25px;
    font-size: 16px;
  }

  .footer-center {
    justify-content: flex-start;
  }

  .footer-right {
    gap: 10px;
  }

  .footer-top {
    margin-bottom: 20px;
    gap: 40px;
  }

  .reviews-img {
    bottom: -270px;
  }
}

@media (max-width: 1080px) {
  .hero-img_robot {
    width: 450px;
  }

  .hero-img_title {
    width: 45px;
  }

  .reviews-modal_right {
    padding: 12px 14px 12px 58px;
    background-image: url(../img/review-modalFrame-right-tablet.png);
    background-position: left;
  }

  .user-name_modal {
    margin-bottom: 4px !important;
    font-size: 12px !important;
    line-height: 13.27px !important;
  }

  .user-class_modal {
    font-size: 10px;
    line-height: 11.06px;
  }

  .reviews-modal_text {
    font-size: 14px;
    line-height: 18px;
  }

  .reviews-text_wrap {
    max-width: 232px;
    height: 220px;
  }

  .user-data_modal {
    width: 70%;
  }

  .reviews-modal_video {
    width: 249px;
    height: 306px;
  }

  .reviews-modal_left {
    margin-right: 6px;
    clip-path: url(#clip-path-tablet);
  }

  .reviews-modal_control {
    width: 225px;
    height: 60px;
  }

  .controls-left_bottom {
    width: 120%;
  }

  .controls-right {
    right: 15px;
    width: 64px;
  }

  .user-wrap_modal {
    width: 240px;
  }

  .reviews-modal {
    max-width: 680px;
  }

  .reviews-modal_text:not(:last-child) {
    margin-bottom: 0;
  }

  .close-button {
    width: 32px;
  }

  .close-button-wrap {
    margin-bottom: 10px;
    padding-right: 55px;
  }

  .broadcast-video_wrap {
    clip-path: url(#clip-path_broadcast-tabletSmall);
  }

  .broadcast-video {
    width: 664px;
    height: 368px;
  }

  .broadcast-play svg {
    width: 60px;
    height: 60px;
  }

  .broadcast-play {
    top: 35%;
  }

  .broadcast {
    margin-bottom: 80px;
    padding-top: 100px;
  }
}

@media (max-width: 1024px) {
  .logo-2 {
    width: 40px;
    height: 40px;
  }

  .logo-3 {
    width: 153px;
    height: 40px;
  }

  .logo-block {
    gap: 18px;
  }

  .section-subtitle {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35.39px;
  }

  .hero-wrap {
    margin-bottom: 20px;
  }

  .about-text,
  .section-text_name,
  .section-text_date {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  .section-text_name {
    max-width: 190px;
    top: 29px;
    left: 20px;
  }

  .section-text_date {
    top: 29px;
    right: 0px;
  }

  .btn {
    font-size: 16px;
    line-height: 19.36px;
  }

  .hero-btn {
    padding: 22px 86px;
  }

  .hero-img_robot {
    width: 450px;
    bottom: -30px;
  }

  .hero-ticket {
    margin-bottom: 20px;
  }

  .about {
    padding-top: 81px;
    padding-bottom: 81px;
  }

  .about-list {
    justify-content: center;
  }

  .banner_text {
    font-size: 18px;
    line-height: 21.6px;
  }

  .banner_number {
    font-size: 26px;
    line-height: 31.2px;
  }

  .banner_content {
    padding-top: 3.5px;
    padding-bottom: 3.5px;
  }

  .banner_img {
    margin-right: 20px;
    width: 57px;
  }

  .banner_wrap {
    margin-bottom: 30px;
  }

  .preview {
    padding-bottom: 40px;
    padding-top: 30px;
    margin-bottom: 40px;
  }

  .section-title-small,
  .section-title {
    font-size: 24px;
    line-height: 26.54px;
  }

  .hero-title {
    font-size: 48px;
    line-height: 53px;
  }

  .section-text {
    font-size: 18px;
    line-height: 22px;
  }

  .preview-left_part2 img {
    width: auto;
  }

  .preview-right picture:nth-child(1) {
    margin-bottom: 92px;
    justify-self: end;
  }

  .program-title {
    margin-bottom: 40px;
    background-image: url(../img/program-title-tablet.svg);
  }

  .card-3 .card-front {
    background-image: url(../img/card-3-front_tablet.webp);
  }

  .card-3 .card-back {
    background-image: url(../img/card-3-back_tablet..webp);
  }

  .card-2 .card-front {
    background-image: url(../img/card-2-front_tablet.webp);
  }

  .card-2 .card-back {
    background-image: url(../img/card-2-back_tablet..webp);
  }

  .card-1 .card-front {
    background-image: url(../img/card-front_tablet.webp);
  }

  .card-1 .card-back {
    background-image: url(../img/card-back_tablet.webp);
  }

  .card-front {
    padding: 20px 32px 19px 32px;
  }

  .program-card {
    width: 468px;
    height: 279px;
  }

  .program-card.flipped .card-back {
    z-index: 0;
  }

  .program-card.flipped .card-front {
    z-index: 0;
  }

  .program-city {
    font-size: 16px;
    line-height: 17.7px;
  }

  .card-btn {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .arrow {
    width: 24px;
    height: 24px;
  }

  .card-back-address {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 20px;
  }

  .card-back-text {
    font-size: 14px;
    line-height: 18px;
  }

  .card-back-btn {
    text-transform: capitalize;
  }

  .reviews-title {
    margin-bottom: 40px;
  }

  .user-wrap img {
    margin-right: 14px;
    width: 46px;
    height: 46px;
  }

  .user-name {
    width: 122px;
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 11px;
  }

  .user-class {
    margin-bottom: 8px;
    font-size: 9px;
  }

  .swiper-review .swiper-slide-active {
    transform: scale(1.4) !important;
  }

  .user-wrap {
    left: 52%;
  }

  .user-data {
    width: 100%;
  }

  .reviews-img {
    bottom: -220px;
  }

  .partners-title-wrap {
    padding: 3px 0;
  }

  .button-prev-partners:after {
    content: url(../img/arrow-left-tablet.svg);
  }

  .button-next-partners:after {
    content: url(../img/arrow-right-tablet.svg);
  }

  .button-prev-partners:hover:after {
    content: url(../img/arrow-left-tablet.svg);
  }

  .button-next-partners:hover:after {
    content: url(../img/arrow-right-tablet.svg);
  }

  .button-prev-partners:active:after {
    content: url(../img/arrow-left-tablet-active.svg);
  }

  .button-next-partners:active:after {
    content: url(../img/arrow-right-tablet-active.svg);
  }

  .reviews-modal-swiper_prev:hover:after {
    content: url(../img/arrow-left-hover.svg);
  }

  .reviews-modal-swiper_next:hover:after {
    content: url(../img/arrow-right-hover.svg);
  }

  .reviews-modal-swiper_prev:active:after {
    content: url(../img/arrow-left-active.svg);
  }

  .reviews-modal-swiper_next:active:after {
    content: url(../img/arrow-right-active.svg);
  }

  .swiper-buttons {
    align-items: center;
  }

  .button-prev-partners,
  .button-next-partners {
    margin-top: 0;
  }

  .partners-title-wrap {
    margin-bottom: 40px;
  }

  .partners-slide {
    padding-top: 32px;
    padding-bottom: 32px;
    min-height: 168px;
  }

  .footer {
    padding: 20px 40px;
    padding-top: 95px;
  }

  .choices__placeholder,
  .choices__item--selectable {
    font-size: 16px;
    line-height: 19.36px;
  }

  .broadcast-label {
    width: 250px;
  }

  .choices__list--dropdown .choices__item {
    width: 198px;
    padding: 10px;
    font-size: 16px;
    line-height: 18.75px;
  }

  .choices__list--dropdown .choices__list {
    padding: 10px;
    max-height: 254px;
  }

  .broadcast-title-wrap {
    margin-bottom: 40px;
  }
}

@media (max-width: 890px) {
  .hero-img_robot {
    width: 350px;
  }

  .hero-img_title {
    width: 35px;
    bottom: 0;
    right: -30px;
  }
}

@media (max-width: 800px) {
  .hero-img_robot {
    width: 300px;
  }
}

@media (max-width: 992px) {
  .footer-center {
    width: 100%;
    order: -1;
  }

  .footer-top {
    justify-content: space-around;
  }

  .partners-slide {
    height: 112px;
    min-height: 112px;
    text-align: center;
  }

  .partners-slide img {
    display: inline-block;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .hero-img_robot {
    width: auto;
    bottom: 0;
  }

  .hero-img_title {
    width: auto;
    right: 22px;
    bottom: 60px;
  }

  .hero-img {
    right: 0;
    bottom: -7px;
    right: 45px;
  }

  .main-block {
    padding-bottom: 7px;
  }

  .footer-top {
    justify-content: space-between;
  }

  .footer-right {
    max-width: 236px;
    width: auto;
  }

  .footer-logo-wrap {
    margin-bottom: 20px;
  }

  .reviews-img {
    bottom: -240px;
  }

  .main-block {
    background-image: url(../img/hero-background-tablet.webp),
      url(../img/hero-background-2-tablet.png);
  }

  .about {
    background-image: url(../img/about-background-tablet.png);
    background-position: right top 0px;
    background-size: auto;
  }

  .preview {
    background-image: url(../img/preview-background-tablet.webp);
  }

  .program-review-background {
    background-image: url(../img/programReviewBackground-tablet.webp);
    background-position: left top 0;
    background-size: auto;
  }

  .partners-footer-background {
    background-image: url(../img/footer-background-tablet.png);
    background-size: auto;
  }

  .broadcast {
    background-image: url(../img/broadcast-background-tablet.webp);
    background-position: right top -10px;
  }

  .reviews-modal-background {
    background-image: url(../img/review-modal-background-tablet.webp);
  }

  .reviews {
    margin-bottom: 210px;
  }
}

@media (max-width: 730px) {
  .preview-right {
    width: 40%;
  }

  .preview-left {
    width: 60%;
  }

  .footer-logo-wrap {
    flex-direction: column;
  }

  .broadcast-video_wrap {
    clip-path: url(#clip-path_broadcast-mobile);
  }

  .broadcast-video {
    width: 496px;
    height: 276px;
  }
}

@media (max-width: 700px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .reviews-modal_video {
    width: 320px;
    height: 393px;
  }

  .reviews-modal_left {
    margin-right: 0;
    clip-path: url(#clip-path-mobile);
  }

  .swiper-slide_content {
    flex-direction: column;
    align-items: center;
  }

  .reviews-modal_left {
    margin-bottom: 17px;
  }

  .reviews-modal_control {
    width: 290px;
    height: 60px;
  }

  .reviews-modal_right {
    padding: 20px;
    margin-bottom: 40px;
    background-image: url(../img/review-modalFrame-right-mobile.png);
    background-position: center;
  }

  .controls-left_bottom {
    width: 100%;
  }

  .user-name_modal {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 17.7px;
  }

  .user-class_modal {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 13.27px;
  }

  .reviews-text_wrap {
    max-width: 280px;
    height: 276px;
  }

  .user-wrap_modal {
    width: 280px;
  }

  .user-name_modal {
    width: 208px;
  }

  .user-data_modal {
    width: 75%;
  }

  .reviews-modal {
    padding-top: 20px;
    max-width: 320px;
    height: 100%;
  }

  .close-button-wrap {
    margin-bottom: 20px;
    padding-right: 0;
  }

  .reviews-modal-swiper_next,
  .reviews-modal-swiper_prev {
    display: none;
  }

  .reviews-modal-background {
    overflow-y: auto;
  }

  .swiper-review .swiper-slide-active {
    transform: scale(1) !important;
  }

  .swiper-review {
    padding: 0 30px;
    width: 85%;
  }

  .reviews-img {
    bottom: -190px;
  }

  .reviews {
    margin-bottom: 270px;
  }

  .main-block {
    background-image: url(../img/hero-background-tablet.webp);
    background-size: cover;
  }

  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero-img {
    margin-bottom: 20px;
    bottom: 0;
    right: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
  }

  .hero-btn-wrap {
    order: 1;
  }

  .hero-img_robot {
    width: 350px;
  }

  .hero-img_title {
    width: 55px;
    right: -30px;
    bottom: 0;
  }

  .preview .container {
    flex-direction: column;
  }

  .preview-right,
  .preview-left {
    width: 100%;
  }

  .preview-right {
    display: flex;
    flex-direction: column;
  }

  .preview-right_bottom {
    order: -1;
  }

  .preview-foto1 {
    display: none;
  }

  .preview-text {
    margin-bottom: 20px;
  }

  .preview-left {
    margin-bottom: 40px;
  }

  .preview-right picture:nth-child(1) {
    margin-bottom: 0;
  }

  .footer-left {
    width: auto;
  }

  .logos {
    width: 300px;
  }

  .about-item {
    width: 100%;
  }

  .about-text {
    top: 40%;
  }

  .banner_img {
    width: 45px;
  }

  .banner_number {
    font-size: 18px;
    line-height: 16.8px;
  }

  .banner_item:not(:last-child) {
    margin-right: 8px;
  }

  .banner_text {
    font-size: 12px;
    line-height: 10.8px;
  }

  .broadcast {
    padding-top: 80px;
  }

  .reviews {
    margin-bottom: 190px;
  }
}

@media (max-width: 576px) {
  .card-3 .card-front {
    background-image: url(../img/card-3-front_mobile.webp);
  }

  .card-3 .card-back {
    background-image: url(../img/card-3-back_mobile.webp);
  }

  .card-2 .card-front {
    background-image: url(../img/card-2-front_mobile.webp);
  }

  .card-2 .card-back {
    background-image: url(../img/card-2-back_mobile.webp);
  }

  .card-1 .card-front {
    background-image: url(../img/card-front_mobile.webp);
  }

  .card-1 .card-back {
    background-image: url(../img/card-back_mobile.webp);
  }

  .program-card {
    width: 320px;
    height: 220px;
  }

  .program-cards {
    gap: 20px;
  }

  .arrow {
    width: 15px;
    height: 15px;
  }

  .arrow,
  .arrow-back {
    top: 19px;
    right: 16px;
  }

  .card-front,
  .card-back {
    padding: 12px 12px 15px 12px;
  }

  .card-btn {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .program-city {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 15.48px;
  }

  .card-back-address {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
  }

  .card-back-text {
    font-size: 12px;
    line-height: 16px;
  }

  .reviews-img {
    bottom: -160px;
  }

  .reviews {
    margin-bottom: 240px;
  }

  .footer-top {
    margin-bottom: 40px;
    flex-direction: column;
    gap: 20px;
  }

  .footer-logo-wrap2 {
    margin-bottom: 41px;
  }

  .footer-title {
    margin-bottom: 20px;
  }

  .footer-right {
    max-width: 100%;
    gap: 8px;
  }

  .footer-center {
    margin-bottom: 12px;
  }

  .footer-title {
    max-width: 100%;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .logos {
    margin-bottom: 12px;
    width: 100%;
  }

  .broadcast-video_wrap {
    clip-path: url(#clip-path_broadcast-mobileSmall);
  }

  .broadcast-video {
    width: 320px;
    height: 178px;
  }

  .broadcast-title-wrap {
    flex-direction: column;
  }

  .broadcast-label {
    width: 320px;
    order: 1;
  }

  .reviews {
    margin-bottom: 160px;
  }

  .broadcast-title-wrap {
    margin-bottom: 0;
  }

  .broadcast-title {
    margin-bottom: 40px;
    align-self: flex-start;
  }

  .broadcast-video_flex {
    margin-bottom: 20px;
  }

  .choices__list--dropdown {
    z-index: 2;
  }
}

@media (max-width: 480px) {
  .section-subtitle {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 22px;
  }

  .hero-title {
    font-size: 40px;
    line-height: 44px;
  }

  .hero-img {
    right: 25px;
  }

  .header {
    margin-bottom: 36px;
  }

  .logo-2 {
    width: 32px;
    height: 32px;
  }

  .logo-3 {
    width: 122px;
    height: 32px;
  }

  .logo-block {
    gap: 12px;
  }

  .section-text_name,
  .section-text_date {
    font-size: 12px !important;
    line-height: 16px !important;
  }

  .section-text_name {
    max-width: 127px;
    top: 10px;
    left: 14px;
  }

  .section-text_date {
    max-width: 54px;
    top: 18px;
    right: 12px;
  }

  .hero-btn {
    padding: 14px 77px;
  }

  .hero-img_title {
    width: 30px;
    right: -25px;
    bottom: 30px;
  }

  .hero-img_robot,
  .hero-img_title {
    width: auto;
  }

  .hero-img_title {
    bottom: -20px;
  }

  .section-text {
    font-size: 14px;
    line-height: 16px;
  }

  .reviews-img {
    bottom: -140px;
  }

  .reviews {
    margin-bottom: 140px;
  }

  .about-text {
    top: 30%;
  }

  .banner_number {
    font-size: 14px;
  }

  .banner_text {
    font-size: 9px;
  }

  .banner_content {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }

  .main-block {
    padding: 12px 20px 7px 20px;
  }

  .container {
    padding: 0 20px;
  }

  .reviews-title {
    margin-bottom: 20px;
  }

  .footer {
    padding: 20px;
  }

  .partners {
    margin-bottom: 95px;
  }

  .preview-title-small {
    font-size: 20px;
    line-height: 22px;
  }

  .program-title {
    background-image: none;
  }

  .button-prev-partners:after {
    content: url(../img/arrow-left.svg);
  }

  .button-next-partners:after {
    content: url(../img/arrow-right.svg);
  }

  .button-prev-partners:hover:after {
    content: url(../img/arrow-left-hover.svg);
  }

  .button-next-partners:hover:after {
    content: url(../img/arrow-right-hover.svg);
  }

  .button-prev-partners:active:after {
    content: url(../img/arrow-left-active.svg);
  }

  .button-next-partners:active:after {
    content: url(../img/arrow-right-active.svg);
  }

  .partners-title-wrap {
    align-items: center;
  }

  .main-block {
    background-image: url(../img/hero-background-mobile.webp);
    background-size: contain;
  }

  .about {
    background-position: right top -40px;
  }

  .preview {
    background-image: url(../img/preview-background-mobile.webp);
  }

  .program-review-background {
    background-image: url(../img/programBackground-mobile.webp);
  }

  /* .reviews .container{
    background-image: url(../img/reviews-background-mobile.webp);
    background-repeat: no-repeat;
  } */

  .partners-footer-background {
    background-image: url(../img/footer-background-mobile.png);
    background-position: left bottom;
  }
}

@media (max-width: 375px) {
  .reviews-modal-background {
    background-image: url(../img/review-modal-background-mobile.webp);
  }

  .reviews-img {
    bottom: -100px;
  }

  .reviews {
    margin-bottom: 100px;
  }

  .hero-img {
    right: 0px;
  }

  .hero-img_title {
    right: -5px;
  }

  .broadcast {
    background-image: none;
  }

  .reviews-broadcast-background {
    background-image: url(../img/reviews-background-mobile.webp);
    background-repeat: no-repeat;
    background-position: center bottom 130px;
    background-size: contain;
  }
}
