/* Авторизация */
.auth {
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #0e0214;
}

.auth__modal {
  margin: 0 auto;
  width: 972px;
  height: 605px;
  justify-content: end;
  align-items: center;
  position: relative;
  color: white;
  background-image: url("../img/Auth-Desktop.svg");
}

.auth__close {
  background-image: url("../img/close.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  position: absolute;
  top: 25px;
  right: 64.38px;
  cursor: pointer;
}

.auth__container {
  width: 422px;
  margin-top: 100px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}

.auth__title {
  font-family: Wadik;
  font-weight: 700;
  font-size: 24px;
  line-height: 26.54px;
  background: linear-gradient(50deg, #ffaa00, #aa00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 100%;
  margin-bottom: 28px;
}

.auth__input-label {
  font-size: 20px;
  line-height: 24px;
}

.auth__input {
  background: #0e0214;
  border-radius: 6px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding: 22px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.auth__input-border {
  position: relative;
  background: linear-gradient(50deg, #ffaa00, #aa00ff);
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  padding: 1px;
  margin-bottom: 32px;
  margin-top: 16px;
  max-height: 150px;
}

.auth__input-border:last-of-type {
  margin-bottom: 0;
}

.auth__miss-pass {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}

.auth__text {
  display: inline-block;
  margin-top: 28px;
  text-align: center;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.auth__link-reg {
  cursor: pointer;
  font-weight: 700;
}

.auth__button {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 97% 100%, 0 100%);
  margin-top: 28px;
  width: 100%;
  height: 64px;
  background-color: #aa00ff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 990px) {
  .auth__modal {
    background-image: url("../img/Auth-tablet.svg");
    width: 652px;
    height: 473px;
  }

  .auth__close {
    background-image: url("../img/Close-mini.svg");
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;
  }

  .auth__container {
    width: 364px;
    margin-top: 72px;
    margin-right: 20px;
  }

  .auth__title {
    margin-bottom: 20px;
  }

  .auth__input-label {
    font-size: 16px;
    line-height: 20px;
  }

  .auth__input {
    font-size: 14px;
    line-height: 18px;
  }

  .auth__input-border {
    margin-bottom: 20px;
    margin-top: 12px;
    max-height: 150px;
  }

  .auth__input-border:last-of-type {
    margin-bottom: 0;
  }

  .auth__miss-pass {
    font-size: 14px;
    line-height: 18px;
  }

  .auth__text {
    margin-top: 12px;
    font-size: 16px;
    line-height: 20px;
  }

  .auth__link-reg {
    cursor: pointer;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
  }

  .auth__button {
    margin-top: 20px;
    height: 42px;
    font-size: 16px;
    line-height: 19.36px;
  }
}

@media screen and (max-width: 667px) {
  .auth__modal {
    background-image: url("../img/Auth-Phone.svg");
    width: 360px;
    height: 640px;
  }

  .auth__container {
    width: 320px;
    margin-top: 107px;
    margin-right: 20px;
  }

  .auth__title {
    margin-bottom: 40px;
  }

  .auth__input-label {
    font-size: 14px;
    line-height: 18px;
  }

  .auth__input-border {
    margin-bottom: 28px;
  }

  .auth__text {
    margin-top: 13px;
    font-size: 14px;
    line-height: 18px;
  }

  .auth__link-reg {
    font-size: 14px;
  }

  .auth__button {
    margin-top: 40px;
    height: 43px;
  }
}

/* Регистрация */
.reg {
  justify-content: center;
  position: fixed;
  overflow: auto;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  background-color: #0e0214;
}

.reg__modal {
  background-image: url("../img/reg-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  max-height: 1500px;
  box-sizing: border-box;
  margin: 0 auto;
}

.reg__notice {
  width: 900px;
  height: 352px;
  background-image: url("../img/background-notice-desktop.svg");
  display: none;
  flex-direction: column;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 2px solid #ffaa00;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 80px 40px;
}

.reg__notice-close {
  position: absolute;
  background-image: url("../img/close.svg");
  width: 60px;
  height: 60px;
  right: 20px;
  top: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.reg__notice-robot {
  display: none;
}

.reg__notice-title {
  font-family: Wadik;
  font-weight: 700;
  font-size: 36px;
  line-height: 39.82px;
  background: linear-gradient(50deg, #ffaa00, #aa00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reg__notice-text {
  color: white;
  font-size: 20px;
  line-height: 24px;
  margin-top: 40px;
}

.reg__mask {
  background: rgba(14 2 20 / 0.4);
  display: flex;
  max-width: 1440px;
  max-height: 1500px;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding-top: 120px;
}

.reg__close {
  background-image: url("../img/close.svg");
  height: 40px;
  width: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}

.reg__info-container {
  display: flex;
  flex-direction: column;
  width: 805px;
  margin-left: 40px;
  position: relative;
}

.reg__info-figure {
  position: absolute;
  height: 318px;
  width: 28px;
  top: 200px;
  background-image: url("../img/reg-figure.svg");
}

.reg__title {
  font-family: Wadik;
  font-weight: 700;
  font-size: 48px;
  line-height: 53.09px;
  background: linear-gradient(50deg, #ffaa00, #aa00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 670px;
}

.reg__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  max-width: 660px;
  margin-left: auto;
}

.reg__robot-image {
  background-image: url("../img/reg-robot.svg");
  height: 828px;
  width: 670px;
}

.reg__form {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  margin-left: 20px;
  margin-right: 155px;
}

.reg__input-label {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

.reg__input-label-last {
  margin-top: 28px;
}

.reg__input {
  background: #0e0214;
  border-radius: 6px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding: 22px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.reg__input-border {
  position: relative;
  background: linear-gradient(50deg, #ffaa00, #aa00ff);
  border-radius: 6px;
  max-width: 440px;
  box-sizing: border-box;
  padding: 1px 1px;
  margin-bottom: 28px;
}

.reg__input-border-last {
  margin-bottom: 0;
}

.reg__radio-container-first {
  margin-bottom: 6px;
}

.reg__radio-label {
  display: flex;
}

.reg__radio {
  margin: 0;
  display: none;
}

.reg__fake-radio {
  height: 24px;
  width: 24px;
  display: inline-block;
  background: linear-gradient(70deg, #ffaa00, #aa00ff);
  border-radius: 50px;
  position: relative;
}

.reg__fake-radio::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #fff;
  transition: 0.2s;
}

.reg__radio:checked + .reg__fake-radio::before {
  width: 10px;
  height: 10px;
}

.reg__input-label-rad {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-left: 12px;
}

.reg__checkbox-label {
  display: flex;
  margin-top: 40px;
}

.reg__checkbox {
  display: none;
  height: 24px;
  width: 24px;
}

.reg__fake-checkbox {
  height: 24px;
  width: 52px;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid #ffaa00;
  background-color: transparent;
  border-radius: 2px;
  position: relative;
  margin-right: 8px;
}

.reg__fake-checkbox::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  border-radius: 2px;
  background-color: #ffaa00;
  opacity: 0;
  transition: 0.2s;
}

.reg__checkbox:checked + .reg__fake-checkbox::before {
  opacity: 1;
}

.reg__checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.reg__checkbox-text-span {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
  text-decoration: underline;
}

.reg__button-container {
  width: 100%;
  height: 82px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 120px;
}

.reg__button {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 95% 100%, 0 100%);
  width: 100%;
  height: 75px;
  background-color: #ffaa00;
  border: none;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 24.2px;
  font-weight: 500;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.reg__button-figure {
  background-image: url("../img/button-figure.svg");
  width: 120px;
  height: 14px;
  position: absolute;
  left: 32px;
  bottom: 1px;
}

@media screen and (max-width: 1483px) {
  .reg__modal {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1386px) {
  .reg__info-figure {
    display: none;
  }

  .reg__form {
    margin-right: 40px;
  }
}

@media screen and (max-width: 1150px) {
  .reg__mask {
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
  }

  .reg__close {
    background-image: url("../img/Close-mini.svg");
    height: 32px;
    width: 32px;
    right: 20px;
    top: 20px;
  }

  .reg__info-container {
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
  }

  .reg__title {
    font-size: 24px;
    line-height: 26.54px;
    text-align: center;
  }

  .reg__text {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .reg__robot-image {
    display: none;
  }

  .reg__form {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 900px) {
  .reg__notice {
    width: 493px;
    height: 274px;
    background-image: url("../img/background-notice-tablet.svg");
    padding: 60px 40px 40px 40px;
  }

  .reg__notice-close {
    background-image: url("../img/Close-mini.svg");
    width: 32px;
    height: 32px;
  }

  .reg__notice-title {
    font-size: 24px;
    line-height: 26.54px;
  }

  .reg__notice-text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
  }

  .reg__modal {
    max-width: 492px;
    margin-left: auto;
    margin-right: auto;
  }

  .reg__mask {
    max-width: 492px;
  }

  .reg__info-container {
    max-width: 412px;
  }

  .reg__title {
    text-align: start;
  }

  .reg__text {
    text-align: start;
  }

  .reg__input-label {
    font-size: 16px;
    line-height: 20px;
  }

  .reg__input {
    font-size: 14px;
    line-height: 18px;
    padding: 17px 11px;
  }

  .reg__checkbox-label {
    margin-top: 20px;
  }

  .reg__button-container {
    height: 58px;
    margin-bottom: 40px;
  }

  .reg__button {
    font-size: 16px;
    line-height: 19.36px;
    height: 51px;
  }
}

@media screen and (max-width: 500px) {
  .reg {
    padding: 0;
  }

  .reg__notice {
    width: 360px;
    height: 640px;
    background-image: url("../img/background-notice-phone.svg");
    padding: 92px 20px 72px;
    border: none;
  }

  .reg__notice-robot {
    display: inline-block;
    width: 235px;
    height: 290px;
    align-self: center;
    margin-top: 40px;
  }

  .reg__notice-title {
    font-size: 16px;
    line-height: 17.7px;
  }

  .reg__notice-text {
    font-size: 14px;
    line-height: 18px;
  }

  .reg__modal {
    max-width: 360px;
  }

  .reg__mask {
    max-width: 360px;
    padding-top: 64px;
  }

  .reg__close {
    right: 20px;
    top: 20px;
  }

  .reg__info-container {
    max-width: 320px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 28px;
  }

  .reg__text {
    font-size: 14px;
    line-height: 18px;
  }

  .reg__form {
    max-width: 320px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .reg__input-label {
    font-size: 14px;
    line-height: 18px;
  }

  .reg__input {
    font-size: 14px;
    line-height: 18px;
  }

  .reg__input-360 {
    height: 72px;
  }

  .reg__fake-checkbox {
    width: 70px;
  }
}

/* Модальное окно обратной связи */
.fb {
  position: fixed;
  overflow: auto;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  background-color: #0e0214;
}

.fb__modal {
  background-image: url("../img/Background-feedback.svg");
  background-repeat: no-repeat;
  height: 1158px;
  width: 1440px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  color: white;
}

.fb__notice {
  background-image: url("../img/back-notice-feedback-desktop-.svg");
  background-repeat: no-repeat;
  width: 589px;
  height: 288px;
  padding: 80px 40px;
  box-sizing: border-box;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid #ffaa00;
}

.fb__notice-display-none {
  display: none;
}

.fb__notice-close {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.fb__notice-title {
  font-family: Wadik;
  font-weight: 700;
  font-size: 36px;
  line-height: 39.82px;
  background: linear-gradient(50deg, #ffaa00, #aa00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fb__notice-text {
  color: white;
  font-size: 20px;
  line-height: 24px;
  margin-top: 40px;
}

.fb__close {
  position: absolute;
  background-image: url("../img/Close-feedback.svg");
  height: 40px;
  width: 40px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.fb__container {
  display: flex;
  flex-direction: column;
  padding-top: 119px;
  width: 649px;
  margin-right: 40px;
}

.fb__title {
  font-family: Wadik;
  font-weight: 700;
  font-size: 24px;
  line-height: 26.54px;
  margin-bottom: 40px;
}

.fb__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 40px;
}

.fb__input-label {
  font-size: 20px;
  line-height: 24px;
}

.fb__input {
  background: #0e0214;
  border-radius: 6px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding: 22px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.fb__input-border {
  position: relative;
  background: linear-gradient(50deg, #ffaa00, #aa00ff);
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  padding: 1px;
  margin-bottom: 32px;
  margin-top: 16px;
  max-height: 150px;
}

.fb__input-textarea {
  resize: none;
  height: 148px;
}

.fb__checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.fb__checkbox-label-second {
  align-items: flex-start;
  margin-top: 20px;
}

.fb__checkbox {
  display: none;
  height: 24px;
  width: 24px;
}

.fb__fake-checkbox {
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid #ffaa00;
  background-color: transparent;
  border-radius: 2px;
  position: relative;
  margin-right: 8px;
}

.fb__fake-checkbox::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  border-radius: 2px;
  background-color: #ffaa00;
  opacity: 0;
  transition: 0.2s;
}

.fb__checkbox:checked + .fb__fake-checkbox::before {
  opacity: 1;
}

.fb__checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  max-width: 553px;
}

.fb__checkbox-text-span {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
  text-decoration: underline;
}

.fb__button {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 97% 100%, 0 100%);
  margin-top: 40px;
  width: 100%;
  height: 64px;
  background-color: #aa00ff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1450px) {
  .fb__modal {
    background-image: url("../img/Background-feedback-tablet.svg");
    width: 493px;
    height: 950px;
  }

  .fb__close {
    background-image: url("../img/Close-feedback-small.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    right: 4px;
    top: 4px;
  }

  .fb__container {
    width: 432px;
    margin-right: 30px;
    padding-top: 60px;
  }

  .fb__title {
    margin-bottom: 20px;
  }

  .fb__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .fb__input-label {
    font-size: 16px;
    line-height: 20px;
  }

  .fb__input {
    padding: 18px 12px;
    font-size: 14px;
    line-height: 18px;
  }

  .fb__input-border {
    margin-top: 12px;
    margin-bottom: 20px;
    max-height: 157px;
  }

  .fb__input-textarea {
    height: 155px;
  }

  .fb__checkbox-text {
    max-width: 400px;
  }

  .fb__checkbox-label {
    margin-top: 20px;
  }

  .fb__checkbox-label-second {
    margin-top: 12px;
  }

  .fb__button {
    margin-top: 20px;
    height: 42px;
    font-size: 16px;
    line-height: 19.36px;
  }
}

@media screen and (max-width: 900px) {
  .fb__notice {
    background-image: url("../img/back-notice-feedback-tablet.svg");
    width: 458px;
    height: 207px;
    padding: 80px 40px 40px 40px;
  }

  .fb__notice-close {
    width: 32px;
    height: 32px;
    background-image: url("../img/Close-mini.svg");
  }

  .fb__notice-title {
    font-size: 24px;
    line-height: 26.54px;
  }

  .fb__notice-text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .fb {
    padding: 0;
  }

  .fb__notice {
    background-image: url("../img/back-notice-feedback-phone.svg");
    width: 360px;
    height: 640px;
    padding: 80px 40px;
    border: none;
  }

  .fb__notice-text {
    font-size: 14px;
    line-height: 18px;
  }

  .fb__modal {
    background-image: url("../img/Background-feedback-phone.svg");
    width: 360px;
    height: 1005px;
  }

  .fb__close {
    background-image: url("../img/Close-mini.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    right: 20px;
    top: 20px;
  }

  .fb__container {
    width: 320px;
    margin-right: 20px;
    padding-top: 64px;
  }

  .fb__title {
    background: linear-gradient(50deg, #ffaa00, #aa00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
  }

  .fb__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .fb__input-label {
    font-size: 14px;
    line-height: 18px;
  }

  .fb__input {
    padding: 18px 12px;
    font-size: 14px;
    line-height: 18px;
  }

  .fb__input-border {
    margin-top: 12px;
    margin-bottom: 32px;
    max-height: 157px;
  }

  .fb__input-border:last-of-type {
    margin-bottom: 0;
  }

  .fb__input-textarea {
    height: 155px;
  }

  .fb__checkbox-text {
    max-width: 288px;
  }

  .fb__checkbox-label {
    margin-top: 20px;
  }

  .fb__checkbox-label-second {
    margin-top: 12px;
  }

  .fb__button {
    margin-top: 20px;
    height: 43px;
    font-size: 16px;
    line-height: 19.36px;
  }
}
